## Hypothesis Testing Assignment

In [92]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/19b9lHlkixZhs8yka8zV0QFieao66dUcY/view?usp=sharing). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [93]:
file = 'nba_games_2013_2015.csv'
nbastats= pd.read_csv(file, sep=';')
nbastats.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0

--------------
### Task 1 ✅
Split the data into **3** separate dataframes for each NBA season!

In [114]:
season13=nbastats[nbastats['SEASON_ID']==22013]
season14=nbastats[nbastats['SEASON_ID']==22014]
season15=nbastats[nbastats['SEASON_ID']==22015]

In [96]:
print("Season13-"+str(season13.head()))
print("Season14-"+str(season14.head()))
print("Season15-"+str(season15.head()))

Season13-      SEASON_ID     TEAM_ID TEAM_ABBREVIATION         TEAM_NAME   GAME_ID  \
4920      22013  1610612742               DAL  Dallas Mavericks  21301216
4921      22013  1610612743               DEN    Denver Nuggets  21301230
4922      22013  1610612762               UTA         Utah Jazz  21301218
4923      22013  1610612751               BKN     Brooklyn Nets  21301224
4924      22013  1610612753               ORL     Orlando Magic  21301227

       GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  REB  AST  \
4920  2014-04-16    DAL @ MEM  L  265  105  ...   0.818    15    24   39   22
4921  2014-04-16  DEN vs. GSW  L  241  112  ...   0.829     9    33   42   23
4922  2014-04-16    UTA @ MIN  W  291  136  ...   0.828    22    38   60   30
4923  2014-04-16    BKN @ CLE  L  240   85  ...   0.739     6    30   36   21
4924  2014-04-16  ORL vs. IND  L  240   86  ...   0.708     9    31   40   14

      STL  BLK  TOV  PF  PLUS_MINUS
4920   11    4   13  23        -1.0
4921    4    4   19  28        -4.0
4922   10    9   18  34         6.0
4923    9    1   15  16       -29.0
4924    9    5   10  16       -15.0

[5 rows x 28 columns]
Season14-      SEASON_ID     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME  \
2460      22014  1610612760               OKC  Oklahoma City Thunder
2461      22014  1610612765               DET        Detroit Pistons
2462      22014  1610612766               CHA      Charlotte Hornets
2463      22014  1610612737               ATL          Atlanta Hawks
2464      22014  1610612759               SAS      San Antonio Spurs

       GAME_ID   GAME_DATE    MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  \
2460  21401222  2015-04-15  OKC @ MIN  W  241  138  ...   0.710    18    28
2461  21401226  2015-04-15  DET @ NYK  W  240  112  ...   0.741    11    33
2462  21401228  2015-04-15  CHA @ TOR  L  240   87  ...   0.938     8    28
2463  21401217  2015-04-15  ATL @ CHI  L  240   85  ...   0.714    10    32
2464  21401223  2015-04-15  SAS @ NOP  L  238  103  ...   0.769     4    32

      REB  AST  STL  BLK  TOV  PF  PLUS_MINUS
2460   46   22   10    6   13  25        25.0
2461   44   20   14    3   12  22        22.0
2462   36   15    8    3   12  10        -5.0
2463   42   15   10   10   15  19        -6.0
2464   36   33    2    3   15  20        -5.0

[5 rows x 28 columns]
Season15-   SEASON_ID     TEAM_ID TEAM_ABBREVIATION               TEAM_NAME   GAME_ID  \
0      22015  1610612750               MIN  Minnesota Timberwolves  21501226
1      22015  1610612749               MIL         Milwaukee Bucks  21501225
2      22015  1610612738               BOS          Boston Celtics  21501217
3      22015  1610612747               LAL      Los Angeles Lakers  21501228
4      22015  1610612739               CLE     Cleveland Cavaliers  21501220

    GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  REB  AST  \
0  2016-04-13  MIN vs. NOP  W  240  144  ...   0.826     5    38   43   41
1  2016-04-13  MIL vs. IND  L  240   92  ...   0.846     7    36   43   23
2  2016-04-13  BOS vs. MIA  W  240   98  ...   0.864    10    29   39   20
3  2016-04-13  LAL vs. UTA  W  239  101  ...   0.867     8    39   47   19
4  2016-04-13  CLE vs. DET  L  265  110  ...   0.733     8    35   43   21

   STL  BLK  TOV  PF  PLUS_MINUS
0   14    8   13  20        35.0
1    8    3   15  15        -5.0
2    7    3    7  20        10.0
3    6    3   13  17         5.0
4    4    7   10  23        -2.0

[5 rows x 28 columns]

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [50]:
team_list = ['Cleveland Cavaliers','Golden State Warriors']

filtered_season15=season15[season15['TEAM_NAME'].isin(team_list)]

cleveland = season15[season15['TEAM_NAME'].str.contains('Cleveland Cavaliers')]
golden = season15[season15['TEAM_NAME'].str.contains('olden State Warriors')]
print(cleveland)
print(golden)

      SEASON_ID     TEAM_ID TEAM_ABBREVIATION            TEAM_NAME   GAME_ID  \
4         22015  1610612739               CLE  Cleveland Cavaliers  21501220
40        22015  1610612739               CLE  Cleveland Cavaliers  21501203
78        22015  1610612739               CLE  Cleveland Cavaliers  21501191
127       22015  1610612739               CLE  Cleveland Cavaliers  21501165
151       22015  1610612739               CLE  Cleveland Cavaliers  21501159
...         ...         ...               ...                  ...       ...
2336      22015  1610612739               CLE  Cleveland Cavaliers  21500063
2364      22015  1610612739               CLE  Cleveland Cavaliers  21500046
2399      22015  1610612739               CLE  Cleveland Cavaliers  21500021
2440      22015  1610612739               CLE  Cleveland Cavaliers  21500011
2456      22015  1610612739               CLE  Cleveland Cavaliers  21500002

       GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  REB  AST  \
4     2016-04-13  CLE vs. DET  L  265  110  ...   0.733     8    35   43   21
40    2016-04-11  CLE vs. ATL  W  240  109  ...   0.900     9    38   47   17
78    2016-04-09    CLE @ CHI  L  242  102  ...   0.611    12    30   42   24
127   2016-04-06    CLE @ IND  L  239  109  ...   0.912     7    26   33   15
151   2016-04-05    CLE @ MIL  W  241  109  ...   0.900     2    39   41   30
...          ...          ... ..  ...  ...  ...     ...   ...   ...  ...  ...
2336  2015-11-04  CLE vs. NYK  W  239   96  ...   0.719     9    39   48   21
2364  2015-11-02    CLE @ PHI  W  240  107  ...   0.750     7    36   43   28
2399  2015-10-30  CLE vs. MIA  W  238  102  ...   0.857    14    35   49   25
2440  2015-10-28    CLE @ MEM  W  240  106  ...   0.647    12    42   54   29
2456  2015-10-27    CLE @ CHI  L  240   95  ...   0.588    11    39   50   26

      STL  BLK  TOV  PF  PLUS_MINUS
4       4    7   10  23        -2.0
40      9    4   15  14        15.0
78      5    5   15  18        -3.0
127     7    3   10  19       -14.0
151     4    8   16  14        29.0
...   ...  ...  ...  ..         ...
2336    5    2   11  12        10.0
2364    5    9   16  19         7.0
2399    4    4   11  19        10.0
2440    7    2   19  25        30.0
2456    5    7   10  21        -2.0

[82 rows x 28 columns]
      SEASON_ID     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME  \
13        22015  1610612744               GSW  Golden State Warriors
73        22015  1610612744               GSW  Golden State Warriors
74        22015  1610612744               GSW  Golden State Warriors
111       22015  1610612744               GSW  Golden State Warriors
141       22015  1610612744               GSW  Golden State Warriors
...         ...         ...               ...                    ...
2324      22015  1610612744               GSW  Golden State Warriors
2356      22015  1610612744               GSW  Golden State Warriors
2393      22015  1610612744               GSW  Golden State Warriors
2405      22015  1610612744               GSW  Golden State Warriors
2455      22015  1610612744               GSW  Golden State Warriors

       GAME_ID   GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  \
13    21501227  2016-04-13  GSW vs. MEM  W  240  125  ...   0.813    12    39
73    21501201  2016-04-10    GSW @ SAS  W  238   92  ...   0.778     7    39
74    21501190  2016-04-09    GSW @ MEM  W  239  100  ...   0.923     7    41
111   21501177  2016-04-07  GSW vs. SAS  W  241  112  ...   0.909     7    36
141   21501163  2016-04-05  GSW vs. MIN  L  266  117  ...   0.875     9    37
...        ...         ...          ... ..  ...  ...  ...     ...   ...   ...
2324  21500069  2015-11-04  GSW vs. LAC  W  240  112  ...   0.774     9    33
2356  21500051  2015-11-02  GSW vs. MEM  W  238  119  ...   0.733    10    55
2393  21500035  2015-10-31    GSW @ NOP  W  241  134  ...   0.714     3    35
2405  21500030  2015-10-30    GSW @ HOU  W  239  112  ...   0.680    11    36
2455  21500003  2015-10-27  GSW vs. NOP  W  241  111  ...   0.909    21    35

      REB  AST  STL  BLK  TOV  PF  PLUS_MINUS
13     51   35    7    7   17  14        21.0
73     46   19    7    6   13  18         6.0
74     48   20    3    7   11  14         1.0
111    43   33    8    2   15  22        11.0
141    46   35    9    5   23  29        -7.0
...   ...  ...  ...  ...  ...  ..         ...
2324   42   28    6    5   12  22         4.0
2356   65   32    8   13   14  15        50.0
2393   38   26   10    4   10  24        14.0
2405   47   26    9    4    8  24        20.0
2455   56   29    8    7   20  29        16.0

[82 rows x 28 columns]

In [55]:
t_value,p_value=st.ttest_ind(cleveland["PTS"],golden["PTS"])
significant_level=0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('alpha =',significant_level)
print('p-value for two tailed test is %f'%p_value)


if p_value<=significant_level:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')

Test statistic is -5.973921
alpha = 0.05
p-value for two tailed test is 0.000000
reject null hypothesis

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
2485,22014,1610612739,CLE,Cleveland Cavaliers,21401225,2015-04-15,CLE vs. WAS,W,266,113,...,0.647,11,33,44,29,7,4,16,17,5.0
2517,22014,1610612739,CLE,Cleveland Cavaliers,21401203,2015-04-13,CLE vs. DET,W,240,109,...,0.500,13,32,45,30,5,7,10,19,12.0
2527,22014,1610612739,CLE,Cleveland Cavaliers,21401194,2015-04-12,CLE @ BOS,L,241,78,...,0.684,11,33,44,18,1,5,24,18,-39.0
2553,22014,1610612739,CLE,Cleveland Cavaliers,21401178,2015-04-10,CLE vs. BOS,L,239,90,...,0.680,12,30,42,25,4,2,20,21,-9.0
2601,22014,1610612739,CLE,Cleveland Cavaliers,21401167,2015-04-08,CLE @ MIL,W,239,104,...,0.808,11,33,44,23,8,5,18,17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,22015,1610612739,CLE,Cleveland Cavaliers,21500063,2015-11-04,CLE vs. NYK,W,239,96,...,0.719,9,39,48,21,5,2,11,12,10.0
2364,22015,1610612739,CLE,Cleveland Cavaliers,21500046,2015-11-02,CLE @ PHI,W,240,107,...,0.750,7,36,43,28,5,9,16,19,7.0
2399,22015,1610612739,CLE,Cleveland Cavaliers,21500021,2015-10-30,CLE vs. MIA,W,238,102,...,0.857,14,35,49,25,4,4,11,19,10.0
2440,22015,1610612739,CLE,Cleveland Cavaliers,21500011,2015-10-28,CLE @ MEM,W,240,106,...,0.647,12,42,54,29,7,2,19,25,30.0
2456,22015,1610612739,CLE,Cleveland Cavaliers,21500002,2015-10-27,CLE @ CHI,L,240,95,...,0.588,11,39,50,26,5,7,10,21,-2.0

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [ ]:
#Coach Blatt was fired on 24th of Jan, 2016. take data from season 14-15 and 15-16( cut at jan 24 2016) and compare it with AFTER

In [74]:
cleveland13 = season13[season13['TEAM_NAME'].str.contains('Cleveland Cavaliers')]
cleveland14 = season14[season14['TEAM_NAME'].str.contains('Cleveland Cavaliers')]
cleveland15 = season15[season15['TEAM_NAME'].str.contains('Cleveland Cavaliers')]

frames = [cleveland14, cleveland15]

result = pd.concat(frames)

# start_date = "2019-1-1"
cut_date= "2016-01-24"

with_coach_blatt = result[result["GAME_DATE"] < cut_date].sort_values(['GAME_DATE'], ascending=False).head(40)

without_coach_blatt= result[result["GAME_DATE"] > cut_date]

# print(with_coach_blatt)
# print(without_coach_blatt)
print(with_coach_blatt.shape)
print(without_coach_blatt.shape)

(40, 28)
(40, 28)

In [75]:
t_value,p_value=st.ttest_ind(with_coach_blatt["PTS"],without_coach_blatt["PTS"])
significant_level=0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('alpha =',significant_level)
print('p-value for two tailed test is %f'%p_value)


if p_value<=significant_level:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')

Test statistic is -2.911229
alpha = 0.05
p-value for two tailed test is 0.004691
reject null hypothesis

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/1jY57bAOZp9y83b4W2PAoSH1uFARaxxls/view?usp=sharing) with scores from playoff games in 2016.

In [86]:
file = 'nba_playoff_games_2016.csv'
Playoffs_2016= pd.read_csv(file, sep=';')
Playoffs_2016.head()
# playoff16=nbastats[nbastats['SEASON_ID']==22016]
# playoff16

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42015,1610612739,CLE,Cleveland Cavaliers,41500407,2016-06-19,CLE @ GSW,W,241,93,...,0.840,9,39,48,17,7,6,11,15,4.0
1,42015,1610612744,GSW,Golden State Warriors,41500407,2016-06-19,GSW vs. CLE,L,239,89,...,0.769,7,32,39,22,7,5,10,23,-4.0
2,42015,1610612744,GSW,Golden State Warriors,41500406,2016-06-16,GSW @ CLE,L,238,101,...,0.690,9,26,35,19,5,3,14,25,-14.0
3,42015,1610612739,CLE,Cleveland Cavaliers,41500406,2016-06-16,CLE vs. GSW,W,240,115,...,0.781,8,37,45,24,12,7,10,25,14.0
4,42015,1610612739,CLE,Cleveland Cavaliers,41500405,2016-06-13,CLE @ GSW,W,241,112,...,0.609,8,33,41,15,11,9,16,22,15.0

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [112]:
Playoffs_2016_Toronto = Playoffs_2016[Playoffs_2016["TEAM_NAME"].str.contains("Toronto")]
print(Playoffs_2016_Toronto.shape)

season15=nbastats[nbastats['SEASON_ID']==22015]

Regular_2016_Toronto = season15[season15["TEAM_NAME"].str.contains("Toronto")].sort_values(['GAME_DATE'], ascending=False)
print(Regular_2016_Toronto.shape)


# stats.ttest_ind(setosa['petal_length'], virginica['petal_length'], equal_var = False)

(20, 28)
(82, 28)

In [113]:
t_value,p_value=st.ttest_ind(Regular_2016_Toronto["BLK"],Playoffs_2016_Toronto["BLK"], equal_var=False)
significant_level=0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('alpha =',significant_level)
print('p-value for two tailed test is %f'%p_value)


if p_value<=significant_level:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')

Test statistic is 3.500438
alpha = 0.05
p-value for two tailed test is 0.001140
reject null hypothesis


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [118]:
# team_list = ['Cleveland Cavaliers','Golden State Warriors']

# filtered_season15=season15[season15['TEAM_NAME'].isin(team_list)]
cleveland13 = season13[season13['TEAM_NAME'].str.contains('Cleveland Cavaliers')]
cleveland14 = season14[season14['TEAM_NAME'].str.contains('Cleveland Cavaliers')]
cleveland15 = season15[season15['TEAM_NAME'].str.contains('Cleveland Cavaliers')]
# golden = season15[season15['TEAM_NAME'].str.contains('olden State Warriors')]
# print(cleveland13.head(2))
# print(cleveland14.head(2))
# print(cleveland15.head(2))

t_value,p_value=st.f_oneway(cleveland13["PTS"],cleveland14["PTS"],cleveland15["PTS"])
significant_level=0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('alpha =',significant_level)
print('p-value for two tailed test is %f'%p_value)


if p_value<=significant_level:

    print('reject null hypothesis')
else:

    print('accept null hypothesis')

Test statistic is 5.920025
alpha = 0.05
p-value for two tailed test is 0.003088
reject null hypothesis

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.